<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Donor</title>
</head>
<body>
    <form action="" method='POST' enctype="multipart/form-data">
        {%csrf_token%}
        <p>Name</p>
        <input type="text" name='name' value="{{donor.name}}">
    <br>
    <p>Age</p>
    <input type="text" name='age' value="{{donor.age}}">
    <br>
    <p>Address</p>
    <textarea name="address" cols="30" rows="10">{{donor.address}}</textarea>
    <br>
    <p>Blood Group</p>
    <select id="blood_grp" name="blood_grp">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="O">O</option>
        <option value="AB">AB</option>
    </select>
    <p>Rhesus Factor?</p>
    <input type="radio" id="rh+" name="rh" value="False" checked>
    <label for="+">+</label><br>
    <input type="radio" id="rh_" name="rh" value="True" />
    <label for="-">-</label>
    <br>


    <p>I agree to donate blood</p>
    {% if donor.consent %}
    <input type="checkbox" id="consent" name="consent" value="True" checked>
    {%else%}
    <input type="checkbox" id="sale" name="sale" value="True">
    {%endif%}
    <label for="consent">I agree</label><br>

  <p>Image</p>
  <input type="file" name='image'>
<label for="image">Current = {{donor.image}}</label>
    <button type='submit'>Submit</button>
</form>
</body>
</html>

